.container{
    margin-left: 0px !important;
    padding-right: 0px;
  }
  a.rdvActive{
    color: blue;
  }
  a.rdvActive:visited {
    color: green;
  }

  footer {
    width: 87.5%;
    height: 100%;
}
.right_col, .top_nav{
  width: 87.5%;
}
